@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primitives Tokens  */
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 0%;
    --clr-primary: 185 100% 63%;
    --clr-secondary: 0 0% 48%;
    /* Sementics Tokens */
    --foreground: var(--clr-black);
    --background: var(--clr-white);

    --radius: 0.5rem;
    --gap: 1rem;

    
    
  }
}

.title-style {
  @apply lg:text-8xl text-6xl pb-6 pt-10 font-semibold px-6 lg:px-28 lg:pb-12 lg:pt-20;
}
